html, body{
  height:100%; /* aqui definimos que o html e o body terão altura de 100% */
}

#cabecalho{
  background-color: #000033;
  color: #FFFFFF;
  width:100%;
  height:100%;
  text-align:center;
  font-size: 200%;
}

#cabecalho h1{
  margin:auto;
  vertical-align:middle;
}

#index {
  text-align:center;
}

#index-input {
  width: 20%;
  text-align: right;
  margin: auto;
  padding-right: 60px;
}

#cadastro {
  position: absolute;
  left:20%;
  width: 60%;
}

#cadastro .right{
  text-align: right;
}

#cadastro .mid{
  text-align: center;
}

#admin{
  text-align: center;
}

#rodapex {
  background-color: #000033;
  height: 35px;
  text-align:center;
  color: #FFFFFF;
  font-size: 150%;
  line-height: 35px;
  font-weight: bold;
}

#rodape{
  margin: auto;
width: 100%;
bottom: 0;
position: fixed;
}
